/* slideshow start */
* {
  box-sizing: border-box;
}

/* Slideshow container */

body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: #e0e0e0;
  min-height: 400px;
}
.main {
  min-height: 700px;
}
/* Header */

.header {
  background-color: #0f0f0f;
  padding: 10px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}
.nav-menu-item {
  margin: 0 20px;
  padding: 10px;
}

.nav-menu-item a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
}

.nav-menu-item a:hover {
  color: rgb(255, 255, 255);
}
.nav-menu-item a.active {
  color: rgb(255, 255, 255);
  background-color: #00000000;
}

.checkout-cart {
  border-radius: 10px;
  background-color: #e9a512;
  padding: 10px 20px;
  margin: 0 20px;
}

.checkout-cart a {
  text-decoration: none;
  color: #ececec;
  font-weight: bold;
}

.checkout-cart:hover {
  background-color: rgb(167, 167, 167);
}

.divider {
  width: 100%;
  height: 50px;
  background-color: rgb(26, 26, 26);
  border-top: 1px solid #333;
}

.footer {
  min-height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
