/* slideshow start */
* {
  box-sizing: border-box;
}

/* Slideshow container */

body {
  margin: 0;
  background-color: black;
}
.main {
  min-height: 500px;
  margin-top: 20px;
}
/* Header */

.header {
  background-color: #0f0f0f;
  padding: 10px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}
.nav-menu-item {
  margin: 0 20px;
  padding: 10px;
}

.nav-menu-item a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
}

.nav-menu-item a:hover {
  color: rgb(255, 255, 255);
}
.nav-menu-item a.active {
  color: rgb(255, 255, 255);
  background-color: #00000000;
}

.checkout-cart {
  border-radius: 10px;
  background-color: rgb(167, 167, 167);
  padding: 10px 20px;
  margin: 0 20px;
}

.checkout-cart a {
  text-decoration: none;
  color: #ececec;
  font-weight: bold;
}

.checkout-cart:hover {
  background-color: skyblue;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* slideshow end */

/* Add a black background color to the top navigation */
.midnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.midnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.midnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.midnav a.active {
  background-color: #04aa6d;
  color: white;
}
/*top-nav end */

.footer {
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
}
