@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.page-container {
  padding: 30px;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-container {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.movie-details {
  padding: 20px;
  width: 50%;
  font-size: 1em;
}

.movie-title {
  border-bottom: 2px solid #444451;
  padding-bottom: 10px;
}

table {
  margin: 30px 0px;
}

th {
  text-align: left;
  height: 40px;
  width: 150px;
  font-size: 1.1em;
  vertical-align: top;
}

td {
  vertical-align: top;
  font-size: 1.1em;
  line-height: 30px;
}

.ticket-booking-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid #fff;
}

select {
  padding: 12.5px;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat-container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.row {
  align-items: center;
}

.seat-alphabet {
  width: 45px;
  margin: 3px;
  text-align: center;
}

.seat-alphabet:nth-of-type(2) {
  margin-right: 18px;
}

.seat-alphabet:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat {
  background-color: #444451;
  height: 36px;
  width: 45px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  color: #000000;
  text-align: center;
  padding: 10px;
  height: 40px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.add-cart {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #e9a512;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.add-cart:hover {
  background-color: rgb(167, 167, 167);
}
